<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>sk.eyJ1IjoiYW50b2luZWJhdHRhZ2xpb3R0aSIsImEiOiJjbTFieHZpN3QyMWo1MmtzanJ0emF5aTEyIn0.okpa7d4LRt4f4Y_GwAdibg</string>
</dict>
</plist>
